<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="chatController.js"></script>
<script type="text/javascript" src="chatService.js"></script>
</head>
<body data-ng-app="myroute">
<div data-ng-controller="chatController">
<form data-ng-submit="addMessage()" name="messageForm">
<input type="text" placeholder="Enter new Message" data-ng-model="message">
<input type="submit" value="send">
</form>
<p data-ng-repeat="message in messages | orderBy:'time':true" >
<time>{{message.time | date:'HH:mm'}}</time>
<span >{{message.message}}</span>
</p>
</div>
</body>
</html>
<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="chatController.js"></script>
<script type="text/javascript" src="chatService.js"></script>
</head>
<body data-ng-app="app">
<div data-ng-controller="chatController">
	<form data-ng-submit="addMessage()" name="messageForm">
			<input type="text" placeholder="Compose a new message..."
				data-ng-model="message" />
			<div class="info">
				<span class="count" data-ng-bind="max - message.length"
					data-ng-class="{danger: message.length > max}">140</span>
				<button type="submit"
					data-ng-disabled="message.length > max || message.length == 0">Send</button>
			</div>
		</form>
		<hr>
		<p data-ng-repeat="message in messages | orderBy:'time':true"
			class="message">
			<time>{{message.time | date:'HH:mm'}}</time>
			<span data-ng-class="{self: message.self}">{{message.message}}</span>
		</p>
	</div>

 <form data-ng-submit="addMessage()" name="messageForm">
<input type="text" placeholder="Enter new Message" data-ng-model="message">
<input type="submit" value="send">
</form>
<p data-ng-repeat="message in messages | orderBy:'time':true" >
<time>{{message.time | date:'HH:mm'}}</time>
<span >{{message.message}}</span>
</p>
</div> 
</body>
</html> -->